/* light-blue: #e7eeff */

.App,
#root {
  text-align: center;
  background-color: #e7eeff;
  height: 100%;
  padding-top: 10px;
  font-family: 'Hammersmith One', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  height: 100vh;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  max-width: 500px;
}

html {
  height: 100vh;
  min-height: -webkit-fill-available;
}
